In [ ]:
#Introduction to data frames in pandas
#dataframe=df---2 dimensional; it will be having a tabular structure

In [ ]:
#general syntax:

#pd.DataFrame(data,index,columns,dtype,copy)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
data=[1,2,3,4,5]

df=pd.DataFrame(data)

print(df)

#column numbering and row numbering provided by pandas

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
data=[['x',10],['y',9],['z',8],['w',7]]

df=pd.DataFrame(data,columns=['Name','Marks'])
                           
print(df)

  Name  Marks
0    x     10
1    y      9
2    z      8
3    w      7

In [7]:
data=[['x',10],['y',9],['z',8],['w',7]]

df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'],columns=['Name','Marks'],dtype=float)
                           
print(df)

      Name  Marks
rank1    x   10.0
rank2    y    9.0
rank3    z    8.0
rank4    w    7.0

In [8]:
#creating a dataframe from dict of ndarrays/lists

#dict: The keys will be converted as a column name

data={'Name':['x','y','z','w','v'],'Marks':[50,45,42,55,40]}

df=pd.DataFrame(data)

print(df)

  Name  Marks
0    x     50
1    y     45
2    z     42
3    w     55
4    v     40

In [ ]:
#Working on the datasets

#Loading the data into systems
#Cleansing the data (we need to keep only the required information)
#Processing the data (transforming the data)
#Storing the data (compress the data (optimal way) by applying the techniques)